.footer {
    background-color: black;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}